.nodeNumInput{
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  display: flex;

}

.nodeNumInput-input {
  width: 100%;
  background-color: #9c9c9c;
  padding: 0;
  border: none;
  text-align: center;
  border-radius: 10px;
}
.nodeNumInput-handler-up {
  position: absolute;
  /* background-color: green; */
  padding: 0;
  height: 10px;
  right: 0%;
  border: none;
  text-align: right;
  width: 'fit-content';
  top: -5px;
}
.nodeNumInput-handler-down {
  position: absolute;
  /* background-color: red; */
  padding: 0;
  height: 10px;
  left: 0%;
  border: none;
  text-align: right;
  width: 'fit-content';
  top: -5px;
}
.nodeNumInput-handler-wrap {
  position: relative;
  display: flex;
}

.inputArrowLeft{
  height: 1em !important;
  /* position: absolute !important; */
  /* top: -30% !important; */
  /* left: 120% !important; */

}
.inputArrowRight{
  height: 1em !important;
  /* position: absolute !important; */
  /* top: -30% !important; */
  /* right: -12% !important; */
}
